/* Color Theme Swatches in Hex */
$white:       #FBFEFC;
$green:       #009C3B;
$yellow:      #FFDF00;
$darken-blue: #001a4d;
$blue:        #002c85;
$blue1:       #1351b4;
$blue2:       #6bbcdb;
$black:       #202020;