@import "./mixins";

@mixin form_style {
    form {
        display: flex;
        flex-direction: column;
        gap: 1.5vw;

        .form_sec{
            display: flex;
            flex-direction: column;
            gap: 0.2vw;

            label{
                display: flex;
                gap: 10px;
                align-items: center;

                .icon_info{
                    width: 1.1em;
                    height: 1.1em;
                    cursor: pointer;
                }
            }

            input:not([type="checkbox"]), textarea, select{
                border-radius: 0.3vw;
            }
            input[type="checkbox"]{
                border-radius: 2px;
            }
            .checkbox_label{
                display: flex;
                gap: 0.8vw;
                align-items: center;
            }
            textarea{
                resize: none;

                &#pauta{
                    height: 50vh !important;
                }
                &#resumo{
                    height: 30vh !important;
                }
            }
            

        }
        .especial{
            border-top: 1px solid $blue;
            border-bottom: 1px solid $blue;
            padding: 1vw 0 1vw 0;
            margin: 1vw 0 1vw 0;

            display: flex;
            flex-direction: column;
            gap: 1vw;
        }
        .options{
            @include buttons_container1;

            button{
                width: fit-content;
                padding: 0.5vw 2.5vw;
                border-radius: 10vw;

                @include hover1($blue, transparent, $blue, $white, $blue, $blue, 200ms);
            }
            a{
                text-decoration: underline;
                @include hover1($blue, transparent, transparent, $blue1, transparent, transparent, 200ms)
            }
        }

        .actions{
            @include buttons_container1;

            button{
                width: fit-content;
                padding: 0.5vw 3vw;
                border-radius: 4px;

                @include hover1($white, $blue, $blue, $white, $blue1, $blue1, 200ms);
            }
            a{
                text-decoration: underline;
                @include hover1($blue, transparent, transparent, $blue1, transparent, transparent, 200ms)
            }
        }
    }
}

@mixin buttons_container1{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 3vw;

    color: $blue;
}


@mixin form_container {
    width: 36%;
    box-shadow: 2px 2px 5px $black;
    border-radius: 0.4vw;
    margin: 8vw auto 8vw auto;
    padding: 2vw;

    @include form_style();
}



@mixin page_bottom {
    //$header_margin: calc(1.2vw + 30px);
    margin-top: calc((1.2vw + 30px) + 4vw);
    padding-bottom: 8vw;
}
