@mixin hover1($color1, $back1, $border1, $color2, $back2, $border2, $time) {
    color: $color1;
    background-color: $back1;
    border: 2px solid $border1;

    transition: border $time, background-color $time, color $time;

    &:hover{
        color: $color2;
        background-color: $back2;
        border: 2px solid 
        $border2;
    }
}

@mixin svg_hover1($color1, $color2, $time) {
    transition: transform $time;
    
    path, circle{
        fill: $color1;
        transition: fill $time;
    }

    &:hover{
        transform: scale(1.05);
        path{
            fill: $color2;
        }
    }

}